<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Cordinates & Address in Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h4>Geolocation & Gecoder App</h4>
  <ion-grid>
    <!-- Latitude -->
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        Latitue
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">
          {{latitude}}
        </ion-badge>
      </ion-col>
    </ion-row>

    <!-- Longitude -->
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        longitude
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">
          {{longitude}}
        </ion-badge>
      </ion-col>
    </ion-row>
    <!-- Accuracy -->
    <ion-row>
      <ion-col size="4" class="ion-text-center" color="medium">
        Accuracy
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">
          {{accuracy}}
        </ion-badge>
      </ion-col>
    </ion-row>

    <!-- Address -->
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        Address
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">
          {{address}}
        </ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="getGeolocation()" color="success" expand="full">
    Get Location
  </ion-button>
</ion-content>